<div class="objection-details-main-div">
    <h2 mat-dialog-title>{{ headerText }}</h2>
    <mat-dialog-content>
        <p><strong>Submitted by:</strong> {{ data.objection.submittedByUser?.units[0]?.addressLineOne }}</p>
        <p><strong>Submitted against:</strong> {{ data.objection.submittedAgainstUser?.units[0]?.addressLineOne || 'N/A' }}</p>
        <p><strong>Comment:</strong> {{ data.objection.comment }}</p>
        <p><strong>Result:</strong> {{ resultText }}</p>
        <p><strong>{{ closeLabel }}</strong> {{ closeDate | date: 'medium' }}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="close()">Close</button>
    </mat-dialog-actions>
</div>