::ng-deep body {
    display: flex !important;
    flex-direction: column;
  }

.objection-details-main-div {
    padding: 1rem;
}

h2.mat-mdc-dialog-title {
    font-size: 1.6rem;
}

.comment {
    font-size: 1.9rem;
    padding: 2rem 0 3rem 0;
    flex-grow: 1;
    line-height: 2.2rem;
}

.detail {
    font-size: 1.6rem;
    padding: 0.2rem 0;
    line-height: 1.9rem;
}

.blue-text {
    color: #4678b3;
}

.black-text {
    color: black;
}