<header class="header">
  <div class="header-primary">
    <div class="hoa-logo-container">
      <img
        id="hoa-logo"
        src="../../assets/images/hoa-header-vector.svg"
        alt="hoa-director-logo"
      />
      <div class="hoa-title">HOA Director</div>
    </div>
  </div>
  <div class="header-user-data">
    <p>Welcome to the<span> {{selectedAssociation$ | async}} </span>HOA!</p>
    <div class="logged-in-indicator">
      <mat-icon aria-hidden="false" aria-label="User icon">
        account_circle
      </mat-icon>
      <p class="user-name">
        {{ loggedInUser$ | async }}
      </p>
      <app-association-switch class="align-content-center"></app-association-switch>
    </div>
  </div>
  <div class="header-line"></div>
</header>
