.person {
  margin: 20px;
}

.unit-card-name {
  font-size: 1.8rem;
  font-weight: 500;
}

.unit-card {
  width: 24rem;
  height: 14rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header-image {
  /* background-image: url('https://');
  background-size: cover; */
}

.directory-header {
  font-size: 3rem;
  margin-bottom: 5%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
