<div class="create-objection border">


  <form [formGroup]="createObjectionForm" (ngSubmit)="onSubmit()">

    <div class="form-group border">
      <mat-label class="mat-label border">Against Unit:</mat-label>
      <br>
      <mat-form-field appearance="outline" class="unit-select border" subscriptSizing="dynamic">

        <mat-select mat-input formControlName="againstControl">
          <mat-option>--</mat-option>
          <mat-option [value]="0">General</mat-option>
          <mat-option *ngFor="let unit of units" [value]="unit.userId">
            {{ unit.addressLineOne }}
          </mat-option>
        </mat-select>

        <mat-error *ngIf="againstControl.hasError('required')"
          >Please select a unit</mat-error
        >
        <mat-hint>{{ againstControl.value?.sound }}</mat-hint>
      </mat-form-field>
    </div>
    <br>
    <div class="form-group border">
      <mat-label class="mat-label border">Comment:</mat-label>
      <br>
      <mat-form-field appearance="outline" class="comments-text-area border">
        <textarea
          matInput
          class="form-control border"
          formControlName="commentControl"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="form-group buttons">
      <button
        class="create-objection-cancel-button border"
        mat-stroked-button
        color="secondary"
        type="reset"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        class="create-objection-submit-button border"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!createObjectionForm.valid"
      >
        Submit
      </button>
    </div>

  </form>
</div>
