label {
  min-width: 50%;
}

.comments-text-area {
  width: 50vw;
}

.form-group {
  margin-bottom: 2rem;
}

.unit-select {
  min-width: 20vw
}

.create-objection-cancel-button {
  margin-right: 2rem;
}

/* ---- LABELS ---- */
.mat-label {
  margin-bottom: 10px; 
  font-size: 1.3rem;
}


/* ---- BORDER COLORS ---- */
/* .border {
  border: 3px solid red;
  border-radius: 5px;
} */


/* ---- OTHER ELEMENTS ---- */
.create-objection {
  margin-top: 30px;
}
.form-group {
  /* border: 3px solid blue; */
  /* border-radius: 5px; */
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  margin-left: 20px;
}
.form-control {
  border: 1px solid black;
  border-radius: 5px;
}


/* ---- MAT-OPTIONS ---- */

::ng-deep mat-form-field {
  margin-top: 10px !important;
}

::ng-deep .mat-mdc-option {
  font-size: 1.4rem !important;
}

::ng-deep span.mat-mdc-select-value-text {
  font-size: 1.5rem !important;
}

.mat-option {
  background-color: #f0f0f0 !important; 
  /* font-size: 1.2rem !important; */
}
.mat-option:hover, .mat-option.mat-selected {
  background-color: lightblue !important; 
}
.mat-form-field {
  /* border: 3px solid purple;
  border-radius: 5px; */
  margin-top: 16px; 
  margin-bottom: 16px; 
}

::ng-deep div.mat-mdc-form-field-hint-wrapper {
  display: none !important;
}

mat-error {
  font-size: 1.3rem;
  padding: 3px 0;
}


/* ---- TEXT AREA ---- */
::ng-deep textarea.mat-mdc-input-element {
  font-size: 1.5rem !important;
}


/* ---- BUTTONS ---- */
::ng-deep .form-group.buttons {
  margin-top: 20px !important;
}