<div class="create-objection">
  <form [formGroup]="createObjectionForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field appearance="fill" class="unit-select">
        <mat-label>Against</mat-label>
        <mat-select formControlName="againstControl">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let unit of units" [value]="unit.userId">
            {{ unit.addressLineOne }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="againstControl.hasError('required')"
          >Please choose unit</mat-error
        >
        <mat-hint>{{ againstControl.value?.sound }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field appearance="fill" class="comments-text-area">
        <mat-label>Comments</mat-label>
        <textarea
          matInput
          class="form-control"
          formControlName="commentControl"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="form-group">
      <button
        class="create-objection-cancel-button"
        mat-stroked-button
        color="primary"
        type="reset"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        class="create-objection-submit-button"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!createObjectionForm.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
