<div>
  <h3 class="association-documents-header">Association Documents</h3>
  <mat-list role="list" #document>
    <mat-list-item role="listitem" selected *ngFor="let document of documents">
      <a
        mat-raised-button
        [id]="document.id"
        (click)="onFetchAndOpenDocument(document.id)"
        class="documents-list-title"
        >
          {{ document.name }}
          <span class="material-icons">
            open_in_new
          </span>
          
      </a>
    </mat-list-item>
  </mat-list>
</div>
