<div class="neighborhood-details-main-div">
    <h2 mat-dialog-title>{{ name }} Details</h2>
    <mat-dialog-content>
        <p class="detail">
            Created:  {{ createdAt }}
        </p>
        <p class="detail">
            Updated:  {{ updatedAt }}
        </p>
        <br />
        <p class="detail">
            Property count:  {{ propertyCount }}
        </p>
        <ul>
            <li *ngFor="let unit of propertyList">
                {{ unit.addressLineOne }}{{ unit.addressLineTwo && (',  ' + unit.addressLineTwo) }},  {{ unit.city }}
            </li>
        </ul>
        <br>
        <p class="detail">
            Owner count:  {{ ownerCount }}
        </p>
        <ul>
            <li *ngFor="let owner of ownerList">
                {{ owner.firstName }}  {{ owner.lastName }}
            </li>
        </ul>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button (click)="close()" color="primary">Close</button>
    </mat-dialog-actions>
</div>