<div class="forgotten-password-container">
  <mat-card>
    <div class="card-header">
      Enter your new password
    </div>
    <mat-card-content>
      <div>
        <div
          [ngClass]="{
            'custom-auth-error': noSuccess,
            'custom-auth-success': isSuccess
          }"
          *ngIf="message"
        >
          {{ message }}
        </div>
      </div>
      <div>
        <div>
          <form
            #forgotPasswordForm="ngForm"
            (ngSubmit)="changePassword(password)"
          >
            <mat-form-field>
              <mat-label>
                Password
              </mat-label>
              <input
                matInput
                type="password"
                placeholder="password"
                class="form-control"
                name="password"
                required
                [(ngModel)]="password"
              />
            </mat-form-field>
            <a
              mat-stroked-button
              class="login-link"
              color="primary"
              routerLink="/login"
              >Cancel
            </a>
            <button
              mat-raised-button
              color="primary"
              class="btn btn-primary float-right"
              type="submit"
              [disabled]="!forgotPasswordForm.form.valid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- <div class="row">
  <div class="col">
    <div class="incorrect" *ngIf="message">
      <p>
        {{message}}
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <form #passwordForm="ngForm" (ngSubmit)="changePassword(password)">
          <input type="password" placeholder="password" class="form-control" name="password" required [(ngModel)]="password">
          <a routerLink="/login">Login</a>
          <button class="btn btn-primary float-right" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
