<div class="forgotten-password-container">
  <app-back-fab></app-back-fab>
  <mat-card>
    <div class="card-header">
      Request New Password
    </div>
    <div class="card-sub-header">
      Please enter the new password for your account.
    </div>
    <mat-card-content>
      <div>
        <div
          [ngClass]="{
            'custom-auth-error': noSuccess,
            'custom-auth-success': isSuccess
          }"
          *ngIf="message"
        >
          {{ message }}
        </div>
      </div>
      <div>
        <div>
          <form
            [formGroup]="resetPassword"
            (ngSubmit)="changePassword(password.value)"
          >
            <label for="password">New password:</label>
            <mat-form-field appearance="outline">
              <mat-pass-toggle-visibility
                #toggle
                matSuffix
              ></mat-pass-toggle-visibility>
              <input
                matInput
                #password
                type="password"
                class="form-control"
                formControlName="password"
                required
                [type]="toggle.type"
              />
            </mat-form-field>
            <mat-password-strength
              #passwordComponent
              [password]="password.value"
            >
            </mat-password-strength>
            <mat-password-strength-info [passwordComponent]="passwordComponent">
            </mat-password-strength-info>

            <div class="button-div">
              <button
                mat-raised-button
                class="cancel-button"
                color="secondary"
                (click)="onCancel()"
              >
                Cancel
              </button>
              <button
                mat-raised-button
                color="primary"
                class="btn btn-primary float-right submit-button"
                type="submit"
                [disabled]="
                  !resetPassword.valid || passwordComponent.strength !== 100
                "
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
