<div class="forgotten-password-container">
  <mat-card>
    <div class="card-header">
      Enter your new password
    </div>
    <mat-card-content>
      <div>
        <div
          [ngClass]="{
            'custom-auth-error': noSuccess,
            'custom-auth-success': isSuccess
          }"
          *ngIf="message"
        >
          {{ message }}
        </div>
      </div>
      <div>
        <div>
          <form [formGroup]="resetPassword" (ngSubmit)="changePassword()">
            <mat-form-field>
              <mat-label>
                Password
              </mat-label>
              <input
                matInput
                #password
                type="password"
                placeholder="Enter your new password"
                class="form-control"
                formControlName="password"
                required
              />
            </mat-form-field>
            <mat-password-strength [password]="password.value">
            </mat-password-strength>
            <button
              mat-stroked-button
              class="cancel-button"
              color="primary"
              (click)="onCancel()"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              class="btn btn-primary float-right submit-button"
              type="submit"
              [disabled]="!resetPassword.valid"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
