
<div class="main-neighborhood-add-div">

    <p>Add New Neighborhood</p>
    
    <div class="form-container">
        <form [formGroup]="addNeighborhoodForm" (ngSubmit)="addNeighborhood()" >
            <div class="form-grid">
                <div class="form-div">

                    <label for="inputEmail">Email:</label>
                    <mat-form-field appearance="outline">
                        <input 
                            id="inputEmail"
                            matInput
                            class="form-control"
                            formControlName="email"
                            type="text"
                        />
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addNeighborhoodForm.get('email').errors?.required && addNeighborhoodForm.get('email').touched">
                        Email is required
                    </div>
                    <div class="validatorMsg" *ngIf="addNeighborhoodForm.get('email').errors?.email && addNeighborhoodForm.get('email').touched">
                        Please enter a valid email address
                    </div>
                </div>
              
                <div class="form-div">
                    <label for="inputFirstName">First name:</label>
                    <mat-form-field appearance="outline">
                        <input 
                            id="inputFirstName"
                            matInput
                            class="form-control"
                            formControlName="firstName"
                            type="text"
                        />
                    </mat-form-field> 
                    <div class="validatorMsg" *ngIf="addNeighborhoodForm.get('firstName').errors?.required && addNeighborhoodForm.get('firstName').touched">
                        First name is required
                    </div>  
                </div>

                <div class="form-div">
                    <label for="inputLastName">Last name:</label>
                    <mat-form-field appearance="outline">
                        <input 
                            id="inputLastName"
                            matInput
                            class="form-control"
                            formControlName="lastName"
                            type="text"
                        />
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addNeighborhoodForm.get('lastName').errors?.required && addNeighborhoodForm.get('lastName').touched">
                        Last name is required
                    </div> 
                </div>

                <div class="form-div">
                    <label for="selectOrganization">Neighborhood:</label>
                    <mat-form-field appearance="outline">
                        <mat-select 
                            id="selectOrganization"
                            formControlName="organization"
                            (selectionChange)="onAssociationChange($event.value)">

                            <mat-option *ngFor="let association of associations" [value]="association.id">
                                {{association.name}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addNeighborhoodForm.get('organization').errors?.required && addNeighborhoodForm.get('organization').touched">
                        Neighborhood is required
                    </div> 
                </div>

                <div class="form-div">
                    <label for="selectRole">Role:</label>
                    <mat-form-field appearance="outline" (click)="checkIfNeighborhoodSelected()">
                        <mat-select 
                            id="selectRole"
                            formControlName="role"
                        >

                            <mat-option *ngFor="let role of allRoles" [value]="role.id">
                                <div class="roleTitleDiv">
                                    {{role.title}}
                                </div>
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="showNeighborhoodRequiredMsg">
                        Please select a Neighborhood first
                    </div>
                    <div class="validatorMsg" *ngIf="addNeighborhoodForm.get('role').errors?.required && addNeighborhoodForm.get('role').touched">
                        Role is required
                    </div> 
                </div>


                <div class="form-div">
                    <label for="selectAddress">Address (optional):</label>
                    <mat-form-field appearance="outline" (click)="checkIfNeighborhoodSelected()">
                        <mat-select 
                            id="selectAddress"
                            formControlName="address"
                        >

                            <mat-option [value]="null"> </mat-option>
                            <mat-option *ngFor="let address of addresses" [value]="address.id">
                                {{address.addressLineOne}}{{address.addressLineTwo ? ', ' + address.addressLineTwo : ''}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="showNeighborhoodRequiredMsg">
                        Please select a Neighborhood first
                    </div>
                </div>

                <div class="buttons-div">

                    <button
                        class="add-neighborhood-button"    
                        mat-raised-button
                        color="secondary"
                        type="button"
                        (click)="onCancel()"
                    >
                        Cancel
                    </button>

                    <button
                        class="add-neighborhood-button"    
                        mat-raised-button
                        color="secondary"
                        type="button"
                        (click)="onReset()"
                    >
                        Clear
                    </button>

                    <button
                        class="add-neighborhood-button"    
                        mat-raised-button
                        color="primary"
                        type="submit"
                    >
                        Save
                    </button>

                </div>
            </div>
        </form>
    </div>
    


</div>
