
<div class="main-neighborhood-add-div">

    <p>Add New Neighborhood</p>
    
    <div class="form-container">
        <form [formGroup]="addNeighborhoodForm" (ngSubmit)="addNeighborhood()" >
            <div class="form-grid">
                <div class="form-div">

                    <label for="name">Neighborhood name:</label>
                    <mat-form-field appearance="outline">
                        <input 
                            id="inputName"
                            matInput
                            class="form-control"
                            formControlName="name"
                            type="text"
                        />
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addNeighborhoodForm.get('name').errors?.required && addNeighborhoodForm.get('name').touched">
                        Neighborhood's name is required
                    </div>
                </div>

                <div class="buttons-div">

                    <button
                        class="add-neighborhood-button"    
                        mat-raised-button
                        color="secondary"
                        type="button"
                        (click)="onCancel()"
                    >
                        Cancel
                    </button>

                    <button
                        class="add-neighborhood-button"    
                        mat-raised-button
                        color="secondary"
                        type="button"
                        (click)="onReset()"
                    >
                        Clear
                    </button>

                    <button
                        class="add-neighborhood-button"    
                        mat-raised-button
                        color="primary"
                        type="submit"
                    >
                        Save
                    </button>

                </div>
            </div>
        </form>
    </div>
    


</div>
