.form-container {
    /* border: 2px solid red; */
    /* display: grid; */
    height: 90vh;
    place-items: left;
    padding: 1rem
}

.form-grid {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    row-gap: 3rem;
    max-width: 650px;
    min-width: 550px;
    width: 100%;
}

.buttons-div {
    gap: 10px;
    margin-top: 2rem;
}

.mat-mdc-raised-button {
    width: 80px;
    font-size: 1.3rem;
    margin-right: 15px;
}

.form-div {
    /* border: 2px solid green; */
    margin-bottom: 0;
}

.form-grid label {
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.625rem;
    grid-column: 1 / 2;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.89);
}

.mat-mdc-form-field {
    font-size: 1.5rem;
}

.validatorMsg {
    color: rgb(218, 0, 0);
    font-size: 1.2rem;
    margin-top: 0.25rem;
}

mat-option {
    font-size: 1.5rem;
}


mat-form-field {
    display: grid;
}

p {
    font-size: 2rem;
    margin-bottom: 15px;
}