<table mat-table [dataSource]="objections" class="mat-elevation-z8" #inboxTable>
  <!-- Submitted By Column -->
  <ng-container matColumnDef="submitted-by">
    <th mat-header-cell *matHeaderCellDef>Submitted By</th>
    <td mat-cell *matCellDef="let objection">
      {{ objection.submittedByUser.units[0]?.addressLineOne }}
    </td>
  </ng-container>

  <!-- Submitted Against Column -->
  <ng-container matColumnDef="submitted-against">
    <th mat-header-cell *matHeaderCellDef>Submitted Against</th>
    <td mat-cell *matCellDef="let objection">
      {{ objection.submittedAgainstUser.units[0]?.addressLineOne }}
    </td>
  </ng-container>

  <!-- Submitted On Column -->
  <ng-container matColumnDef="submitted-on">
    <th mat-header-cell *matHeaderCellDef>Submitted On</th>
    <td mat-cell *matCellDef="let objection">{{ objection.createdAt }}</td>
  </ng-container>

  <ng-container matColumnDef="vote-button">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let objection">
      <button
        [id]="objection.id"
        mat-raised-button
        color="accent"
        class="btn btn-primary float-right"
        type="submit"
        (click)="selectObjection(objection)"
      >
        Vote
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- TODO: Update button to work with modal to vote and clean up commented code -->
  <!-- <thead>
    <tr>
      <th scope="col"></th>
    </tr>
  </thead>
      </td>
        <td (click)="selectObjection(objection); htmlInsideModal.open()"></td>
        <button class="btn">
          Vote
        </button>
      </td>
    </tr>
  </tbody> -->
</table>

<!-- <app-modal #htmlInsideModal>
  <ng-template #modalBody>
    <div class="row">
      <div class="col">
        <p>
          {{currentObjection.comment}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            How would you like to vote on this
          </div>
        </div>
        <button class="btn btn-danger" (click)="vote(0)">Disapprove</button>
        <button class="btn btn-success" (click)="vote(1)">Approve</button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="htmlInsideModal.close()">Close</button>
      </div>
    </div>
  </ng-template>
</app-modal> -->
