<table mat-table [dataSource]="objections" class="mat-elevation-z8" #inboxTable>
  
  <!-- Submitted By Column -->
  <ng-container matColumnDef="submitted-by">
    <th mat-header-cell *matHeaderCellDef>Submitted By</th>
    <td mat-cell *matCellDef="let objection" (click)="openDetails(objection)">
      {{ objection?.submittedByUser?.units[0]?.addressLineOne }}
    </td>
  </ng-container>

  <!-- Submitted Against Column -->
  <ng-container matColumnDef="submitted-against">
    <th mat-header-cell *matHeaderCellDef>Submitted Against</th>
    <td mat-cell *matCellDef="let objection" (click)="openDetails(objection)">
      {{ objection?.submittedAgainstUser?.units[0]?.addressLineOne === null ? 'General' : objection?.submittedAgainstUser?.units[0]?.addressLineOne }}
    </td>
  </ng-container>

  <!-- Submitted On Column -->
  <ng-container matColumnDef="submitted-on">
    <th mat-header-cell *matHeaderCellDef>Submitted On</th>
    <td mat-cell *matCellDef="let objection" (click)="openDetails(objection)">
      {{ objection.createdAt | date: 'MMM d, y, h:mm a' }}
    </td>
  </ng-container>

  <ng-container matColumnDef="vote-button">
    <th mat-header-cell *matHeaderCellDef>Vote</th>
    <td mat-cell *matCellDef="let objection">
      <ng-container *ngIf="objection?.votes[0]?.objection_id === null">
        <button
          [id]="objection.id"
          mat-raised-button
          color="accent"
          class="btn btn-primary float-right"
          type="submit"
          (click)="selectObjection(objection); openDialog(objection)"
        >
          Vote
        </button>
      </ng-container>
      <ng-container *ngIf="objection?.votes[0]?.objection_id !== null">
        <div (click)="openDetails(objection)">
          <p class="has-voted-check">&#10004;</p>
        </div>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
