table {
  width: 100%;
}
.mat-elevation-z8 {
  /* box-shadow: none; */
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

.has-voted-check {
  font-size: 2em;
  color: green;
}