/* form.form-control {
  background-color: transparent;
  border: none;
}

img {
  max-width: 100%;
}

.call-home {
  max-width: 50%;
} */

.welcome-images {
  text-align: center;
  margin: 30px;
}

/* .incorrect {
  color: #af0c26;
}

.row-padding {
  padding: 30vh;
} */

mat-card {
  width: 30%;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}
