<div>
    <h3 class="test-header">Test Functions Page</h3>
    <div class="test-rules-container">
        <mat-list role="list" #document>
            <mat-list-item role="listitem" selected *ngFor="let row of testRows">
                <a 
                    mat-raised-button
                    [id]="row.id"
                    (click)="consoleLog(row.column1string)"
                    class="test-rule-list-title"
                    >Row: {{row.column1string}}
                </a>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="test-rows-container">
        <mat-list role="list" #document>
            <mat-list-item role="listitem" selected *ngFor="let row of testRows">
                <a 
                    mat-raised-button
                    [id]="row.id"
                    (click)="consoleLog(row.title)"
                    class="test-row-list-title"
                    >Rule: {{row.title}}
                </a>
            </mat-list-item>
        </mat-list>
    </div>

    <p>test-component works!</p>
    <!-- <button (click)="openDialog()"> Add a Row</button> -->
    <br>
    <button (click)="consoleLog(rules)"> Console Log Test</button>

    
</div>