
<div class="main-user-add-div">

    <p class="p-instructions">Please enter the new user's information.</p>
    
    <div class="form-container">
        <form [formGroup]="addUserForm" (ngSubmit)="addUser()" >
            <div class="form-grid">
                <div class="form-div">

                    <label for="inputEmail">Email:</label>
                    <mat-form-field appearance="outline">
                        <input 
                            id="inputEmail"
                            matInput
                            class="form-control"
                            formControlName="email"
                            type="text"
                        />
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addUserForm.get('email').errors?.required && addUserForm.get('email').touched">
                        Email is required
                    </div>
                    <div class="validatorMsg" *ngIf="addUserForm.get('email').errors?.email && addUserForm.get('email').touched">
                        Please enter a valid email address
                    </div>
                </div>
              
                <div class="form-div">
                    <label for="inputFirstName">First name:</label>
                    <mat-form-field appearance="outline">
                        <input 
                            id="inputFirstName"
                            matInput
                            class="form-control"
                            formControlName="firstName"
                            type="text"
                        />
                    </mat-form-field> 
                    <div class="validatorMsg" *ngIf="addUserForm.get('firstName').errors?.required && addUserForm.get('firstName').touched">
                        First name is required
                    </div>  
                </div>

                <div class="form-div">
                    <label for="inputLastName">Last name:</label>
                    <mat-form-field appearance="outline">
                        <input 
                            id="inputLastName"
                            matInput
                            class="form-control"
                            formControlName="lastName"
                            type="text"
                        />
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addUserForm.get('lastName').errors?.required && addUserForm.get('lastName').touched">
                        Last name is required
                    </div> 
                </div>

                <!-- <div class="form-div">
                    <label for="inputPassword">Password:</label>
                    <mat-form-field appearance="outline">
                        <input 
                        id="inputPassword"
                        matInput
                        class="form-control"
                        formControlName="password"
                        type="text"
                        placeholder="Password"
                        />
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addUserForm.get('password').errors?.required && addUserForm.get('password').touched">
                        Password is required.
                    </div>
                    <div class="validatorMsg" *ngIf="addUserForm.get('password').errors?.pattern && addUserForm.get('password').touched">
                        Make sure to include a special character, number, lowercase and uppercase letters.
                    </div>
                    <div class="validatorMsg" *ngIf="addUserForm.get('password').errors?.['minLength'] && addUserForm.get('password').touched">
                        Make sure it's at least 8 characters long.
                    </div>
                </div> -->

                <div class="form-div">
                    <label for="selectOrganization">Neighborhood:</label>
                    <mat-form-field>
                        <mat-select 
                            id="selectOrganization"
                            formControlName="organization"
                            (selectionChange)="onAssociationChange($event.value)">

                            <mat-option *ngFor="let association of associations" [value]="association.id">
                                {{association.name}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addUserForm.get('organization').errors?.required && addUserForm.get('organization').touched">
                        Neighborhood is required
                    </div> 
                </div>

                <div class="form-div">
                    <label for="selectRole">Role:</label>
                    <mat-form-field appearance="outline">
                        <mat-select 
                            id="selectRole"
                            formControlName="role">

                            <mat-option *ngFor="let role of allRoles" [value]="role.id">
                                <div class="roleTitleDiv">
                                    {{role.title}}
                                </div>
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="validatorMsg" *ngIf="addUserForm.get('role').errors?.required && addUserForm.get('role').touched">
                        Role is required
                    </div> 
                </div>



                <br>
                <div class="buttons-div">
                    <button
                        class="search-users-submit-button"    
                        mat-raised-button
                        color="primary"
                        type="submit"
                    >
                    Add User
                    </button>
    
                    <button
                        class="search-users-clear-button"    
                        mat-raised-button
                        color="secondary"
                        type="button"
                        (click)="onReset()"
                    >
                    Clear
                    </button>
                </div>
            </div>
        </form>
    </div>
    


</div>
