<div class="request-password-container">
  <app-back-fab></app-back-fab>
  <mat-card>
    <div class="card-header">
      Request New Password
    </div>
    <div class="card-sub-header">
      Please enter the email address associated with your account.
    </div>
    <mat-card-content>
      <div>
        <div class="email-success-message" *ngIf="message && requestResult === 'success'">
          {{ message }}
        </div>
        <div class="email-error-message" *ngIf="message && requestResult === 'error'">
          {{ message }}
        </div>
      </div>
      <div>
        <div>
          <form [formGroup]="requestPasswordChange" (ngSubmit)="onSubmit()">
            <label for="email">Email:</label>
            <mat-form-field appearance="outline">
              <input
                matInput
                type="email"
                class="form-control"
                formControlName="email"
                required
              />
            </mat-form-field>

            <div class="button-div">
              <button
                mat-raised-button
                class="cancel-button"
                color="secondary"
                (click)="onCancel()"
              >
                Cancel
              </button>
              <button
                mat-raised-button
                color="primary"
                class="btn btn-primary float-right submit-button"
                type="submit"
                [disabled]="!requestPasswordChange.valid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
