.vote-main-div {
  background-color: white;
  padding: 5rem;
  border: 1px solid black;
  border-radius: 10px;
  margin: -10px; // remove whitespace in corners around border
  text-align: center;
}

.vote-dialog-title {
  font-size: 1.8rem;
  color: black;
}

// add space between label and next radio button
mat-radio-button:first-child {
  margin-right: 4rem;
}

mat-radio-button {
  font-size: 2rem;
}

.vote-description {
  color: #272954;
  font-size: 2.4rem;
}

.vote-description {
  margin: 3rem 0;
}

// buttons
.mat-mdc-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 2.5rem;
}