.vote-main-div {
  background-color: white;
  padding: 5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.vote-dialog-title {
  font-size: 3rem;
}

mat-dialog-content {
  font-size: 2rem;
}

mat-dialog-actions {
  margin: 2rem 2rem;
}

mat-radio-button:first-child {
  margin-right: 2rem;
}

mat-radio-button {
  font-size: 2rem;
}

.vote-description {
  margin-bottom: 2rem;
}

.vote-descriptions {
  margin-left: 4rem;
  margin-bottom: 4rem;
}
.vote-list-item {
  margin: 2rem
}

