.vote-main-div {
  background-color: white;
  padding: 5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.vote-dialog-title {
  font-size: 3rem;
}

mat-dialog-content {
  font-size: 2rem;
}

mat-dialog-actions {
  margin: 2rem 2rem;
}

mat-radio-button:first-child {
  margin-right: 2rem;
}

mat-radio-button {
  font-size: 2rem;
  padding: .4rem;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 3px;
}

.vote-description {
  margin-bottom: 2rem;
}

.vote-descriptions {
  margin-left: 4rem;
  margin-bottom: 4rem;
}
.vote-list-item {
  margin: 2rem
}

.mat-radio-checked {
  // padding: .3rem;
  // background-color: var(--mat-radio-checked-color, #ffffff) ; /* Default Material accent color */
  transform: scale(1.1); /* Slightly enlarge the selected button */
  background-color: #1976d2 !important; /* Material blue */
  box-shadow: 0 0 8px rgba(25, 118, 210, 0.6); /* Soft glow effect */
  transition: transform 0.2s ease-in-out;
  opacity: 1 !important;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 3px;
}

.mat-radio-inner-circle {
  background-color: var(--mat-radio-checked-color, #ff0084); /* Default Material accent color */
  transform: scale(1) !important;
  opacity: 1 !important;
}

// .mat-radio-checked .mat-radio-inner-circle {
//   background-color: #1976d2 !important; /* Material blue */
//   box-shadow: 0 0 8px rgba(25, 118, 210, 0.6); /* Soft glow effect */
// }
