<div class="sidebar">
  <div *ngIf="userIsAuthenticated" class="nav-pills">
    <button
      mat-button
      [routerLink]="['directory/units-view']"
      routerLinkActive="active"
    >
      Neighborhood Directory
    </button>
    <button
      mat-button
      [routerLink]="['rules']"
      routerLinkActive="active"
    >
      Rules & Regulations
    </button>
    <button
      mat-button
      [routerLink]="['resolution-center/inbox']"
      routerLinkActive="active"
    >
      Resolution Center
    </button>
    <button
      mat-button
      [routerLink]="['documents']"
      routerLinkActive="active"
    >
      Association Documents
    </button>
    <button
      mat-button
      [routerLink]="['users-center/users-view']"
      routerLinkActive="active"
      >
      Users Center
    </button>
    <button mat-button (click)="onLogout()">
      Logout
    </button>
    <div class="nav-vertical-line"></div>
  </div>
</div>
