<div class="sidebar">
  <div *ngIf="userIsAuthenticated" class="nav-pills">
    <button
      *ngIf="showNeighborhoodDirectory"
      mat-button
      [routerLink]="['directory']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="goToDirectoryView($event)"
    >
      Directory
    </button>
    <button
      *ngIf="showResolutionCenter"
      mat-button
      [routerLink]="['resolution-center']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      Resolution Center
    </button>
    <button
      *ngIf="showRulesAndRegulations"
      mat-button
      [routerLink]="['rules-regulations']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      Rules & Regulations
    </button>
    <button
      *ngIf="showAssociationDocuments"
      mat-button
      [routerLink]="['documents']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      Documents
    </button>
    <button
      *ngIf="showUsersCenter"
      mat-button
      [routerLink]="['user-center']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      (click)="goToUserCenterView($event)"
      >
      User Center
    </button>
    <button
      *ngIf="showNeighborhoodCenter"
      mat-button
      [routerLink]="['neighborhood-center/view']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      >
      Neighborhood Center
    </button>
    <!-- <button mat-button (click)="onLogout()">
      Logout
    </button> -->
    <div class="nav-vertical-line"></div>
  </div>
</div>
