/* The side navigation menu */
.sidebar {
  margin: 0 15px 0 0;
  padding: 0;
  width: 200px;
  height: 100%;
  display: inline-block;
}

/* Sidebar links */
.sidebar button {
  display: block;
  color: #262953;
  padding: 16px;
  border-right: solid 1px rgba(0, 0, 0, 0.27);
  border-radius: unset;
  width: 100%;
  height: 5rem;
  font-size: 1.4rem;
}

.nav-vertical-line {
  padding-bottom: 100%;
  border-right: solid 1px rgba(0, 0, 0, 0.27);
}

/* Active/current link */
.sidebar button.active {
  /* background-color: #83b834; */
  background-color:#bdd3e7;
  /* border-right: solid 5px #3779b7; */
  /* border: solid 3px #3779b7; */
  /* border-radius: 5px; */
}

/* Links on mouse-over */
.sidebar button:hover:not(.active) {
  background-color: #bdd3e7;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
/* div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */
