<app-association-switch class="align-content-center"></app-association-switch>
<div class="sidebar">
  <div *ngIf="userIsAuthenticated" class="nav-pills">
    <a mat-button class="link-button" [routerLink]="['directory']" routerLinkActive="active">
      Neighborhood Directory
    </a>
    <a mat-button [routerLink]="['rules']" routerLinkActive="active">
      Rules & Regulations
    </a>
    <a
      mat-button
      [routerLink]="['resolution-center']"
      routerLinkActive="active"
    >
      Resolution Center
    </a>
    <a mat-button [routerLink]="['documents']" routerLinkActive="active">
      Association Documents
    </a>
    <a mat-button (click)="onLogout()">
      Logout
    </a>
    <div class="nav-vertical-line"></div>
  </div>
</div>
