
<div class="mat-outer-div">
  <h2 mat-dialog-title class="rule-dialog-title">{{ data.ruleTitle }}</h2>
  
  <mat-dialog-content>
    <p class="rule-description">{{ data.ruleDescription }}</p>
    
    <ul class="rule-descriptions">
      <li class="rule-list-item" *ngFor="let rule of rules">
        {{rule.description}}
      </li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="rule-close-button" mat-raised-button color="primary" mat-dialog-close>
      Close
    </button>
  </mat-dialog-actions>
</div>
