.mat-outer-div {
    background-color: white;
    padding: 5rem; 
    border-radius: 1rem;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.5);
    /* border: blue 2px dashed; */
}

.rule-dialog-title {
    font-size: 3rem;
}

mat-dialog-content {
    font-size: 2rem;
}

.rule-description {
    margin-bottom: 2rem;
}

.rule-descriptions {
    margin-left: 4rem;
    margin-bottom: 4rem;
}
.rule-list-item {
    margin: 2rem
}

.rule-close-button {
    margin-bottom: 2rem;
}
