<div id="sidebar" class="sidebar">
  <div>
    <!-- <div class="home-info" *ngIf="!userIsAuthenticated">
      <p>Everyday in your association will be pleasant.</p>
      <p>Timely answers to questions and concerns.</p>
      <p>You have problem resolution at your fingertips.</p>
    </div> -->
    <!-- <div *ngIf="userService.user" class="nav flex-column nav-pills"> -->
    <ul *ngIf="userIsAuthenticated" class="nav-pills">
      <app-association-switch
        class="align-content-center"
      ></app-association-switch>
      <div class="menu-title">
        <h3>
          Menu
        </h3>
      </div>
      <a mat-button [routerLink]="['directory']" routerLinkActive="active">
        Neighborhood Directory
      </a>
      <a mat-button [routerLink]="['rules']" routerLinkActive="active">
        Rules & Regulations
      </a>
      <a  mat-button [routerLink]="['resolution-center']"routerLinkActive="active">
        Resolution Center
      </a>
      <a mat-button [routerLink]="['documents']"routerLinkActive="active">
        Association Documents
      </a>
      <a mat-button (click)="onLogout()">
        Logout
      </a>
      <!-- <ng-container *ngFor="let link of links">
        <li class="nav-item" *ngIf="link.active">
          <a
            [routerLink]="[link.path]"
            class="nav-link"
            routerLinkActive="active"
          >
            {{ link.label }}
          </a>
        </li>
      </ng-container> -->
      <!-- <li class="nav-item">
        
      </li> -->
    </ul>
  </div>
</div>
