<div class="main-units-view-div">

  <!-- <router-outlet></router-outlet> -->

  <form [formGroup]="searchUnitsForm" >
    <!-- <label class="form-label" for="searchUsersForm">Search For a User</label> -->
    <mat-form-field>
        <input 
        id="inputString"
        matInput
        class="form-control"
        formControlName="inputText"
        type="text"
        placeholder="Search by name, email, or unit"

        [(ngModel)]="inputString"
        (ngModelChange)="onInputChange()"
        />
    </mat-form-field>    

    <button
        class="add-user-button"    
        mat-raised-button
        color="secondary"

        (click)="onReset()"
    >
        Clear
    </button>
</form>

  <div class="flex-container">
    <div *ngFor="let user of users">
      <mat-card class="unit-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="header-image"></div> -->
            <div class="header-content">
              <mat-card-title class="unit-card-name" >
                <!-- {{ (unit.user.firstName?unit.user.firstName : "a" ) + " " + (unit.user.lastName ? unit.user.lastName : "a") }} -->
                {{(user.first_name ? user.first_name : '') + " " + (user.last_name ? user.last_name : '')}}
                <!-- {{ (unit.first_name || "")  + " " + (unit.last_name || "") }} -->
              </mat-card-title>
              <mat-card-actions>
                <button 
                class="edit-button"
                mat-raised-button
                color="secondary"
                >Edit</button>
              </mat-card-actions>
            </div>
          <!-- <mat-card-subtitle>Owner</mat-card-subtitle> -->
        </mat-card-header>
        <hr />
        <!-- <img mat-card-image src="https://www.bankrate.com/2015/06/19095912/low-apprasials-and-condo-associations-can-trip-up-mortgages.jpg" alt=""> -->
        <mat-card-content class="card-content">
          <div class="contact-info">
            <h4>Address:</h4>
            <div *ngFor="let unit of user.units" class="address-line-1">
              {{ unit.address_line_one ? unit.address_line_one: '' }},
              <br>
              {{ unit.address_line_two ? unit.address_line_two: '' }}
              <br>
              {{unit.city ? unit.city : ''}}, 
              {{unit.state ? unit.state : ''}},
              {{unit.zip ? unit.zip : ''}}
            </div>
            <br />
            <h4>E-Mail:</h4>
            <div *ngIf="user" class="email">
              {{ user.email }}
            </div>
            <br />
            <h4>Phone:</h4>
            <div *ngIf="user.number" class="phone">
              {{ user.number | phone : "US" }}
            </div>
            123-123-1234
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>