.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */
  /* align-content: center; */
  justify-content: flex-start;
  background-color: lightgrey;
  border-radius: 5px;
  /* padding: 1rem; */
  gap: 8px; /* Space between cards */
  padding: 16px;
  width: 332px;
  margin-bottom: 30px;
}  

@media (min-width: 900px) {
  .flex-container {
    width: 640px;
  }
}

@media (min-width: 1224px) {
  .flex-container {
    width: 950px;
  }
}

.unit-card {
  width: 280px;
  height: 280px;
  /* margin-right: 2rem; */
  /* margin-left: 1rem; */
  margin: 1rem;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.19);
}

label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.625rem;
    grid-column: 1 / 2;
    font-size: 1.3rem;
}

#inputString {
  font-size: 1.5rem;
  display: inline;
  margin-bottom: 1rem;
}

.btn-clear-search {
  display: inline;
  margin: 15px 0 1rem 10px;
}

.btn-add-unit {
  display: inline;
  width: 84px;
  margin: 0 0 16px 0;
}

@media (min-width: 630px) {
  .btn-add-unit {
    margin-top: 20px;
    margin-left: 16px;
  }
}

@media (min-width: 900px) {
  .btn-add-unit {
    margin-top: 20px;
    margin-left: 268px;
  }
}

@media (min-width: 1224px) {
  .btn-add-unit {
    margin-top: 20px;
    margin-left: 578px;
  }
}

mat-card-header {
  height: 5.25rem; 
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Horizontal Space */
  align-items: center; /* Vertical */
  /* border: 1px dashed red; */
}
/* mat-card-title {
  border: 1px solid red;
}
mat-card-actions {
  border: 1px solid red;
} */
.edit-button {
  border: 1px solid black;
  box-shadow: 0px 0px 0px;
  transition: box-shadow 0.3s ease; /* Add transition effect */
}
.edit-button:hover {
  border: 1px solid blue;
  box-shadow: 0px 0px 4px rgba(33, 44, 255, 0.669);
}
.edit-button:active {
  box-shadow: 0px 0px 6px rgb(0, 255, 13);
}

.unit-card-name {
  font-size: 1.8rem;
  font-weight: 500;
  min-height: 1.8rem;
  margin-bottom: .1rem;
}
.card-content {
  /* border: 1px solid green; */
  margin: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-bottom: 0px;
  font-size: 1.3rem;
  line-height: 1.4;
}
.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}
.contact-info {
  /* border: 1px solid green; */
  margin-bottom: 0px;
}
