
<div class="main-user-div">
    <form [formGroup]="searchUsersForm" >
        <label class="form-label" for="inputString">Search by name, address, email, or neighborhood:</label>
        <mat-form-field>
            <input 
                id="inputString"
                matInput
                class="form-control"
                formControlName="inputText"
                type="text"
                [(ngModel)]="inputString"
                (ngModelChange)="onInputChange()"
            />
        </mat-form-field>    

        <button
            class="btn-clear-search"    
            mat-raised-button
            color="secondary"
            (click)="onReset()"
        >
            Clear
        </button>
    </form>

    <ng-container>
      <button
        mat-raised-button
        color="primary"
        class="btn btn-primary btn-add-user"
        (click)="goToAddUser()"
      >
        Add User
      </button>
    </ng-container>

    <br>

    <!-- Table -->
    <table mat-table [dataSource]="userRows" class="mat-elevation-z8" #usersTable>
        <!-- <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef>User ID</th>
            <td mat-cell *matCellDef="let user">{{user.id}}</td>
        </ng-container> -->

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let user">{{user.lastName}}, {{user.firstName}}</td>
        </ng-container>
        
        <!-- <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name</th>
            <td mat-cell *matCellDef="let user">{{user.lastName}}</td>
        </ng-container> -->

        <ng-container matColumnDef="association">
            <th mat-header-cell *matHeaderCellDef>Neighborhood</th>
            <td mat-cell *matCellDef="let user">{{user.associations[0]?.name}}</td>
        </ng-container>
        
        <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let user">
              {{user.units[0]?.addressLineOne}}
              <br>
              {{user.units[0]?.addressLineTwo}}
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let user">{{user.email}}</td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let user">{{ user.roles.roleTitle }}</td>
        </ng-container>

        <!-- <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef>Created</th>
            <td mat-cell *matCellDef="let user">{{ user.created_at ? (user.created_at | date:'shortDate') : '' }}</td>
        </ng-container> -->

        <!-- <ng-container matColumnDef="deleted_at">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let user">{{ user.deleted_at ? 'Inactive' : 'Active' }}</td>
        </ng-container> -->

        <ng-container matColumnDef="edit-button">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let user">
              <button
                [id]="user.id"
                mat-raised-button
                color="accent"
                class="btn btn-primary float-right"
                type="submit"
                (click)="editUser(user.id)"
              >
                Edit
              </button>
            </td>
          </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>


</div>