/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

/* 
  Basic reset to make every browser render in the same way.
  Universal selector will select each element on the page an apply these declarations
  using this allows you to start clean without any added margin or padding from the web browser 
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

/* added with angular material */
html,
body {
  height: 100%;
}

.clickable {
  cursor: pointer;
}
