/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

/* Basic reset to make every browser render in the same way */
/* Universal selector will select each element on the page an apply these declarations */
/* using this allows you to start clean without any added margin or padding from the web browser */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  /* when possible, we should inherit so move box-sizing boarder-box to body */
  box-sizing: inherit;
}

.clickable {
  cursor: pointer;
}

html {
  /* font-size: 10px; */
  /* If we keep 10px here, it does not allow the user to make the default browser font size bigger
    so we set the font size to 62.5% of 16px, which is the default browser size, and end up with 10px here.
    now if the user changes the font size in the browser, the page will still be responsive */
  font-size: 62.5%; }

  /* added with angular material */
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.row:not(.app-header) {
  max-width: 160rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (2 * 6rem)) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - (3 * 6rem)) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
}
