<!-- <mat-grid-list cols="12" [gutterSize]="0">
  <mat-grid-tile [colspan]="12"
    ><app-header></app-header
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="5" fxFlexAlign="center"
    ><app-sidebar></app-sidebar
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="5" fxFlexAlign="center"
    ><router-outlet></router-outlet
  ></mat-grid-tile>
  <mat-grid-tile [colspan]="12"
    ><app-footer></app-footer
  ></mat-grid-tile>
</mat-grid-list> -->

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
  </div>
  <div class="row justify-content-lg-center body-content">
    <div class="col-lg-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-footer></app-footer>
    </div>
  </div>
</div> -->

<div class="main-container">
  <div class="main-container__header">
    <app-header></app-header>
  </div>
  <div class="main-container__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-container__content">
    <router-outlet></router-outlet>
  </div>
  <div class="main-container__footer">
    <app-footer></app-footer>
  </div>
  <div class="left-empty"></div>
  <div class="right-empty"></div>
</div>
